.images-div{
    max-width: 1000px;
    max-height: 1000px;
}
.image-tag{
    width: 1000px;
    height: 800px;
    object-fit: cover;
}

@media (max-width:957px){
    .images-div{
        max-width: 600px;
        max-height: 600px;
    }
    .image-tag{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}